__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.vscode/
.idea/

*.wav
*.db
*.sqlite
*.sqlite3

data/recordings/*
!data/recordings/.gitkeep

data/events/*
!data/events/.gitkeep

data/database/*
!data/database/.gitkeep

data/exports/*
!data/exports/.gitkeep
